.detailCard{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
}

.detailTitle{
    font-size: 14px;
}

//.pos{
//    margin-bottom: 12px;
//}

.detailMedia{
    height: fit-content;
    width: fit-content;
}

.detailWrapper{
    width: fit-content;
    overflow: auto;
}

.detailImage{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.categoryText{
    margin-top: 10px;
}

.tagItem{
    margin: 3px;
}

.detailYoutube{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.comment{
    margin-top: 10px;
    margin-left: auto;
    width: 100%;
}
