.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 800px;
}

.title{
    font-size: 14px;
}

.pos{
    margin-bottom: 12px;
}

.media{
    height: fit-content;
    width: fit-content;
}

.wrapper{
    width: fit-content;
    overflow: auto;
}

.leftCard{
    margin: auto;
    width: fit-content;
    float: left;
}

.rightCard{
    margin: auto;
    width: fit-content;
    float: right;
}

.categoryItem1{
    float: left;
    height: fit-content;
    width: fit-content;
}

.categoryItem2{
    background-color: lightblue;
    height: 20px;
    width: fit-content;
    text-align: center;
}

.categoryText{
    margin-top: 10px;
}

.tagItem{
    margin: 3px;
}