.card {
    margin-top: 2vh;
    margin-bottom: 2vh;
    max-width: 22vw;
    height: 60vh;
}

.media {
    height: 69%;
    margin: auto;
    max-width: 235px;
}

.title {
    text-align: center;
    width: 100%;
}

.descriptionCard {
    padding-bottom: 0;
}

.mediaImage {
    width: 100%;
    margin: auto;
}